In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

PATH = 'data/'

напишіть функцію гіпотези лінійної регресії у векторному вигляді

In [2]:
def hypothesis(X, theta):
    return np.dot(X, theta)

створіть функцію для обчислення функції втрат у векторному вигляді

In [3]:
def compute_loss(arr, X, y):
    m = len(y)
    h = np.dot(X, arr)
    error = h - y
    loss = (1/(2*m)) * np.sum(error**2)
    return loss

реалізуйте один крок градієнтного спуску

In [4]:
def gradient_descent_step(arr, X, y, learning_rate):
    m = len(y)
    h = np.dot(X, arr)
    error = h - y
    gradient = (1/m) * np.dot(X.T, error)
    arr -= learning_rate * gradient
    return arr

знайдіть найкращі параметри для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень

In [5]:
df = pd.read_csv(os.path.join(PATH, 'Housing.csv'))
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
X = df[['area', 'bathrooms', 'bedrooms']]
y = df['price']
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
regression_model = LinearRegression()
regression_model.fit(X_scaled, y)
w_finite = regression_model.coef_

print(f'w - {w_finite}')

w - [821214.14349519 695808.52272537 299983.57107963]

знайдіть ці ж параметри за допомогою аналітичного рішення

In [8]:
X = np.column_stack((np.ones(len(X_scaled)), X_scaled))
w_analytical = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
print(f'w - {w_analytical}')

w - [4766729.24770642  821214.14349519  695808.52272537  299983.57107963]

порівняйте отримані результати.

In [9]:
print("Sklearn (Finite solution):")
print(w_finite)

print("\nАналітичне рішення:")
print(w_analytical)

Sklearn (Finite solution):
[821214.14349519 695808.52272537 299983.57107963]

Аналітичне рішення:
[4766729.24770642  821214.14349519  695808.52272537  299983.57107963]